<!DOCTYPE html>
<!-- This website template was created by 
	Ian Eastwood -->
<html lang="en">
<head>
<link rel="stylesheet" href="css/styles.css">
	<title>Wacky Pencils</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="container">

	
	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Cool Logo"></a>
	</header>

	
	<nav>
		<ul>
			<li><a href="home.html">Home</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</nav>


	
	<main>

		<p> Some Text here</p>
		
		<div class="moblie">
		
			<h3> Header</h3>
			
			
			
				
		<div class="desktop">
		<p> insert paragraph text</p>
		<p> insert paragraph text</p>
</div>
	</main>



	<footer>
		
	</footer>
	</div>
</body>
</html>


